// Place all the styles related to the publics/evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goalscore{
	background-color: rgb(255, 99, 132);
}

.evaluationscore{
	background-color: rgb(54, 162, 235);
}

.event-profile {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.event-profile .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.event-profile p {
    margin: 0; 
    padding: 0;
}