// Place all the styles related to the publics/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="text"] {
	width: 250px;
}

.field{
	margin-top: 30px;
}

input::placeholder {
	text-align: center;
}

.small box {
	margin: 0 auto;
}