<% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "publics/users/unfollow", users: @user %>
    <% else %>
      <%= render "publics/users/follow", users: @user %>
    <% end %>
  </div>
<% end %>