<div class="container">
	<div class="row">
		<div class="col">
      <div class="img1">
          <div class="b"><img class="c" src="assets/time.jpg"></div>
          <div class="b"><img class="c" src="assets/stairs.jpg"></div>
      </div>
      <div class="title-saitoname">
    		 <h2>ようこそ Re-stackinng へ</h2>
         <p>あなたも継続し、行動できる1%の人間に</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="img2">
        <div class="b"><img class="c" src="assets/emotions.jpg"></div>
        <div class="b"><img class="c" src="assets/session.png"></div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="text1">
        <P>・なぜ三日坊主になろのか・・・</P>
        <p>・目的や目標が定まっていない</p>
        <P>・日々やることが決まっていない</P>
        <P>・目標に対して現在地がわからない</P>
        <p>・継続していくことのメリット</p>
      </div>
      <div class="text2">
        <P>
          どんなに優秀な人でも目的や日々やる事を明確化出来ないと継続は困難です。
          </br>また、達成した先に報酬がない道のりは走り続けることが出来ないです。
          </br>上記の4点を解消することが三日坊主を克服する近道です。
        </P>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="img3">
        <div class="b"><img class="c" src="assets/woman.jpg"></div>
      </div>
      <div class="text3">
        <P>Re-stacking は自己管理を促し皆さんの目標達成をサポートするサイトです。</P>
        <p>人は３ヶ月で変われます！！</p>
        <p>あなたのLifeはここから生まれ変わる</p>
  			<%= link_to "・・・Let's start >>",user_session_path,  class:"btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>
